* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 700;
}


.fadeIn {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: absolute;
}

.token {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.token.red {
    background-color: red;
}

.token.green {
    background-color: green;
}

#result {
    height: 50vh;
}

#fallingBallContainer {
    height: 500px;
    position: relative;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#fallingBall {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}