* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 700;
}


.fadeIn {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: absolute;
}

.token {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 0.2em solid #000000;
}

.token.red {
    background-color: red;
}

.token.green {
    background-color: green;
}

.token.white {
    background-color: white;
}

#result {
    height: 50vh;
}

#fallingBallContainer {
    height: 500px;
    position: relative;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#fallingBall {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 0px;*/
    /*transform: translateX(-50%);*/
    height: 80px;
    width: 80px;
    border-radius: 100%;
}


.gameStatistics {
	padding: 60px;
	background: #c0ffd4;
	border: 5px ridge #008000;
	color: #008000;
	font-family: Marcellus, serif;
	font-size: 3em;
	text-shadow: 0 2px #fff;
	text-align: center;
}

.notificationColor{
    color: #a23425;
    font-style: oblique;
}

.btnFont{
    font-size: large;
}